
* {
    
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
    
}

.name {
    text-align: center;
    margin-top: 10px;
    color: rgba(0, 128, 0, 0.5);
    
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 128, 0, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=number], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgba(0, 128, 0, 0.5);
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

label {
    padding:  12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: rgba(0, 128, 0, 0.5);
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.container {
    border-radius: 5px;
    background-color: rgba(0, 128, 0, 0.5);
    padding: 60px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

#label-alimento {
    color: #fff;
    margin-left: 5px;

}

#label-carboidrato {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}

#label-proteina {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}

#label-gordura {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}

#label-resultado {
    color: #fff;
    font-weight: bold;
    margin-left: 5px;
}

#input-alimento {
    font-weight: bold;
    color: green;
}

#input-proteina {
    font-weight: bold;
    color: green;
}

#input-carboidrato {
    font-weight: bold;
    color: green;
}

#input-gordura {
    font-weight: bold;
    color: green;
}

#input-calcular {
    font-weight: bold;
}

#input-resultado {
    font-weight: bold;
    color: green;
}

#input-calcular:hover {
    cursor: pointer;
    color: rgba(0, 128, 0, 0.5);
    background-color: rgba(152, 240, 152, 0.5);
}

@media screen and (max-width: 600px) {
    .col-25, .col-75,input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}